<div class="header-container">
  <header>YOUR NATONAL NEWS AT A GLANCE</header>
</div>

<div class="main-container">

  {{!-- Show the available burgers --}}
  <section id="world-news">
    <ul id="news">
      <h1>WORLD NEWS</h2>
        {{#each Article}}
        <li class="newArticle">
          <span class="articles">
            <h2 class="addNotes" data-id={{this.id}}>{{this.title}}</h2>
            <a href="{{this.link}}" target="_blank">{{this.title}}</a>
            <p>{{this.info}}</p>
          </span>
        </li>
        {{/each}}
    </ul>
  </section>
  <section id="newnotes">
    <div id="notes"></div>
  </section>
</div>